.input {
    font-size: 14px;
    //background: rgba(#3d3d3d, 0.5) !important;
    padding: 4px;
    border-color: #e5e5e5 !important;

    &:focus {
        outline: none;
        border-radius: 4px;
        border: 1px solid #e5e5e5;
        background: rgba(#3d3d3d, 0.7);
    }

    textarea {
        color: white
    }
}

.mention {
    color: white !important
}
