.input {
  font-size: 14px;
  color: white;
  background: rgba(#3d3d3d, 0.5);
  padding: 4px;
  border: 1px solid transparent;

  &:focus {
     outline: none;
     border-radius: 4px;
     border: 1px solid #e5e5e5;
  }
}
