* {
  transition-property: color, background-color, border-color;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

:root {
  --theme-bgc: #525252;
  --theme-border-color: #2a2a2a;
  --theme-border-color-revert: #e5e5e5;
  --theme-secondary-bgc: #3d3d3d;
  --theme-text-color: white;
  --theme-text-color-revert: black;
  --theme-dropdown-bgc: #f5f5f5;
  --theme-input-icon-color: --theme-input-icon-color;
  --theme-input-placeholder-color: --theme-input-placeholder-color;
}
